.input-group-text {
  background-color: orange;
  width: 50%;
}

.input-group {
  width: 30%;
}

.card {
  width: 50%;
  text-align: center;
}

#search-results {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.movie-card {
  border: 1px solid white;
  padding: 8px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

#tv-show-info {
  display: flex;
  gap: 24px;
}

.description-section {
  display: flex;
  gap: 16px;
}

.genres {
  border: 1px solid white;
  padding: 8px;
}

#cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.inputs-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
 
#title-search {
  margin-left: 20px;
}
 
#calculator-displays {
  font-size: 80px;
  margin-left: 300px;
}
