body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
  padding: 20px;
  border: 5px groove orange;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(245, 179, 58);
}

.input-group-text {
  background-color: orange;
  width: 50%;
}

#search-results {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.movie-card {
  border: 1px solid white;
  padding: 8px;
  width: 15rem;
  text-align: center;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

#tv-show-info {
  display: flex;
  gap: 24px;
}

.description-section {
  display: flex;
  gap: 16px;
}

.genres {
  border: 1px solid white;
  padding: 8px;
}

#cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.inputs-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#title-search {
  margin-left: 20px;
}

#calculator-displays {
  font-size: 80px;
}

.header-section {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#featured-shows {
  padding: 20px;
}

#other-inputs-container {
  margin-top: 40px;
}

@media (max-width: 850px) {
  #search-results {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #tv-show-info {
    flex-direction: column;
  }

  #tv-show-image img {
    height: 200px;
    width: 200px;
    object-fit: fill;
  }

  iframe {
    height: 200px;
    width: 300px;
  }
}
