.input-group-text {
  background-color: orange;
  width: 50%;
}

.input-group {
  width: 30%;
}

.card {
  width: 50%;
  text-align: center;
}

#search-results {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.movie-card {
  border: 1px solid white;
  padding: 8px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

#tv-show-info {
  display: flex;
  gap: 32px;
}

.description-section {
  display: flex;
  gap: 16px;
}

.genres {
  border: 1px solid white;
  padding: 8px;
}
